@import '../node_modules/normalize.css';
@import './responsive.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #e9e9e9;

  .content-left {
    flex-basis: 60%;

    a {
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
  }

  .content-right {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .item {
      align-self: center;
      padding: 5px;
    }
  }
}

.home {
  display: flex;
  padding: 5px;

  .home-left {
    flex-basis: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;

    .item {
      align-self: flex-start;
      .header {
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .content {
      }
    }
  }
  .home-right {
    flex-basis: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;

    .item {
      align-self: flex-start;
      .header {
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .content {
      }
    }
  }
}

.question {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 5px;
  .question-header {
    padding-left: 10px;
  }
  .question-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    .question-content-left {
      margin: 5px;
    }
    .question-content-seperator {
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
      height: 100px;
      margin: 5px;
    }
    .question-content-right {
      margin: 5px;
      width: 400px;
      div {
        margin: 10px;
      }
      a {
        margin: 10px;
      }
    }
  }
}

.newQuestion {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

  /* Style inputs with type="text", select elements and textareas */
  input[type='text'] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  button:hover {
    background-color: #45a049;
  }
}

.score {
  display: flex;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 5px;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 500px;
  margin: auto;

  .avatar {
    flex-basis: 20%;
    padding-left: 10px;
  }

  .summary {
    flex-basis: 60%;
  }

  .scoreItem {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.unansweredQuestion {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: auto;
  height: 200px;
  width: 500px;

  .unansweredQuestion-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;
  }
}
