@import '../node_modules/normalize.css';
@import './responsive.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 20px;
  }
}
